<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currency History</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container my-2">
    <h1>Currency History</h1>


    <form action="#" th:action="@{/getCurrencyHistoryCustom/{ccy}(ccy=${dateInputTemplate.ccy})}"
          th:object="${dateInputTemplate}" method="POST">
        <div class="form-row">
            <div class="col-7">
                <a th:href="@{/}" class="btn btn-primary">Home</a>
                <a th:href="@{/convertCurrency}" class="btn btn-secondary">Convert Currency</a>
            </div>
            <div class="col">
                <input type="hidden" th:field="*{ccy}"/>
                <div>
                    <label>Start Date</label>
                    <input type="date" th:field="*{startDate}" placeholder="Start Date">
                    <p th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">Bad Input</p>
                </div>
                    <div>
                        <label>End date</label>
                        <input type="date" th:field="*{endDate}" placeholder="End Date">
                        <p th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">Bad Input</p>
                    </div>


                <button type="submit" class="btn btn-secondary">Custom Timeframe</button>
            </div>
        </div>
    </form>

    <br>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Currency Type</th>
                <th scope="col">Value to EUR</th>
            </tr>
            <tr th:each="el: ${currencyRatesList}">
                <td th:text="${el.dt}"/>
                <td th:text="${el.ccyAmt[1].ccy}"></td>
                <td th:text="${el.ccyAmt[1].amt} + ' : ' + ${el.ccyAmt[0].amt}"></td>
            </tr>
            </thead>
        </table>
    </div>
</div>
</body>
</html>